<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Sistema
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container >
    <div class="texto">
      <div class="subtexto">
        <span>Cadastrar-se</span>
      </div>
      <span class="subtexto2">Prosseguir para o aplicativo</span>
    </div>

    <div class="logindiv">
      <ion-item class="itemlogin" lines="none">
        <ion-input placeholder="Email@domain.com"></ion-input>
      </ion-item>
      <ion-item class="itemlogin" lines="none" style="top: 5px;">
        <ion-input type="password" placeholder="Senha"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-item lines="none" style="padding: 10px;">
        <ion-button slot="end">Criar conta</ion-button>
      </ion-item>
    </div>
  </ng-container>

</ion-content>
