.texto {
  width: auto;
  height: 200px;
}

.avlogin {
}

.textarea {
  border: solid 1px rgb(219, 219, 219);
  border-radius: 8px;
  width: 350px;
}

ion-button {
  text-transform: none;
 }

.texto {
  padding: 50px;
  text-align: center;
  .subtexto {
    padding: 10px;
  }

  .subtexto2 {

  }
}
