.texto {
  width: auto;
  height: 200px;
}

.avlogin {
}

.textarea {
  border: solid 1px rgb(219, 219, 219);
  border-radius: 8px;
  width: 350px;
}

ion-button {
  text-transform: none;
  width: 100px;
  height: 40px;
  font-weight: 300;
  font-size: 15px;
 }

.texto {
  padding: 50px;
  text-align: center;
  .subtexto {
    padding: 10px;
  }

  .subtexto2 {
  }
}

.logindiv {
  padding: 20px;
  grid-template-columns: 100%;
  display: grid;
  .itemlogin {
    border-style: solid;
    border-radius: 12px;
    border-width: 2px;
    border-color: #ebebeb;
  }

  ion-label {
    color: #949494;
  }
}
